button{
    padding: 20px 40px;
    font-size: large;
    border-radius: 10px;
    font-weight: 1000;
    position: sticky;
    top: 0px;
    bottom: 0px;
}
/* This property used as a same sequence  */
    /* On unvisited */
    button:link{
        color: darksalmon;
    }
    /* On visited */
    button:visited{
        color: rebeccapurple;
    }
    /* On Hover */
    button:hover{
        padding: 50px 50px;
        background-color: cadetblue;
        color: black;
    }
    /* On Click */
    button:active{
        color: aliceblue;
    }
h1{
    position: fixed;
    bottom: 0px;
    left: 1040px;
}