*{
    margin: 0;
    padding: 0;
}
ul{
    background-color: beige;
    display: flex;
    list-style: none;
    
}
ul li{
    margin: 10px 35px;
}
ul li a{
    font-size: 20px;
    color:black;
    text-decoration: none;
}
